In [6]:
import psycopg2
from psycopg2 import sql

# Database connection parameters
db_config = {
    'dbname': 'pyproj',
    'user': 'postgres',
    'password': 'postgres',
    'host': 'localhost',  # or your PostgreSQL server's IP
    'port': '5432'        # default PostgreSQL port
}

try:
    # Connect to PostgreSQL database
    connection = psycopg2.connect(**db_config)
    
    # Create a cursor object
    cursor = connection.cursor()
    
    # Example query: Fetch PostgreSQL version
    cursor.execute("SELECT version();")
    
    # Fetch and print the result of the query
    db_version = cursor.fetchone()
    print(f"Connected to PostgreSQL Database: {db_version}")
    
except Exception as error:
    print(f"Error connecting to PostgreSQL: {error}")
    
finally:
    # Close the cursor and connection to free resources
    if cursor:
        cursor.close()
    if connection:
        connection.close()

Connected to PostgreSQL Database: ('PostgreSQL 16.4 on x86_64-apple-darwin20.6.0, compiled by Apple clang version 12.0.5 (clang-1205.0.22.9), 64-bit',)

In [9]:
import pandas as pd

# Read the CSV file into a DataFrame
df = pd.read_csv('subscribers.csv')
df

                         email     name
0          sachin674@gmail.com   Sachin
1   dhanyashreed2006@gmail.com   Dhanya
2           simhakip@gmail.com    Simha
3  rashmihiremath003@gmail.com   Rashmi
4        pasupula123@gmail.com    Mohan
5            cherosh@gmail.com   Roshan
6            diganth@gmail.com  diganth

In [11]:
import pandas as pd
from sqlalchemy import create_engine

# Step 1: Load the CSV and select the columns
df = pd.read_csv('subscribers.csv', usecols=['email', 'name'])


# Step 2: Create a PostgreSQL connection
engine = create_engine('postgresql+psycopg2://postgres:postgres@localhost:5432/pyproj')

# Step 3: Insert the DataFrame into the PostgreSQL table
df.to_sql('users', con=engine, if_exists='replace', index=False)

# Step 4: Close the connection
engine.dispose()

print("Data has been successfully written to the PostgreSQL database.")

Data has been successfully written to the PostgreSQL database.

In [12]:
df = pd.read_sql('users', con=engine)
df

                         email     name
0          sachin674@gmail.com   Sachin
1   dhanyashreed2006@gmail.com   Dhanya
2           simhakip@gmail.com    Simha
3  rashmihiremath003@gmail.com   Rashmi
4        pasupula123@gmail.com    Mohan
5            cherosh@gmail.com   Roshan
6            diganth@gmail.com  diganth

In [ ]:
# import pandas as pd

# Sample dictionary with single values
# data = list_of_news

# Convert dictionary to DataFrame
# df = pd.DataFrame(list(data.items()), columns=['Key', 'Value'])
# df.to_excel('output_file.xlsx', index=False)
# print("Data exported to Excel successfully.")